@import 'tailwindcss';

:root {
  --white: #fff;
  --gray-200: #e5e7eb;
  --gray-400: #99a1af;
  --gray-600: #4a5565;
  --gray-800: #2c3035;
  --dark: #1f2937;
  --dark-200: #040711;
  --blue: #3b82f6;
  --blue-hover: #155dfc;
  --red: #fb2c36;
  --icon-link-color: #1f1f1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --icon-link-color: #fff;
  }
  body {
    background: var(--dark-200);
    color: var(--white);
  }
}

.btn-primary {
  @apply text-center bg-(--blue) hover:bg-(--blue-hover) text-white py-4 px-3 transition-all w-full cursor-pointer rounded-xl;
  &:disabled {
    @apply bg-(--gray-200) text-gray-500 cursor-not-allowed hover:bg-gray-300 dark:bg-(--gray-800);
  }
}

.border-general {
  @apply border-black/5 dark:border-white/10;
}
